*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.text{
  
  position: relative;
  border: 3px solid gray;
  display: flex;
  width: 50%;
  text-align: center;
  margin-top: 50px;
  z-index: 100;
  background-color: #fff;
}
.text > ul > a {
  font-weight: 700;
  border: 3px solid hotpink;
}
.text > ul > a:hover{
  color: blue;
  
}



.text1{
  padding-top: 10px;
  width: 70%;
  box-sizing: border-box;
}

.text1 li{
  overflow: hidden;
  max-height: 0;
  /* display: none; */
  position: absolute;
  width: 20%;


 
  z-index: 2;
  padding: 0.5rem;
  list-style: none;
  box-shadow: 1px 2px 3px gray;
}
/* .text1 li:hover,
.text1 li.Aox{
 
  background-color: aqua;
  transition: 300ms ease-in-out;
} */


.text2 {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
}
.text2 li {
  padding: 0.5rem;
  list-style: none;
  overflow: hidden;
}
.text3{
  display: flex;
  width: 90%;
  justify-content: space-between;
  
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

.text4{
  width: 100%;
  display: flex;
}
.text4 > li{
  position: relative;
  width: 25%;
  text-align: center;
}
.text4 > li > a{
  display: block;
  padding: 20px 0;
  color: #fff;
  font-weight: 700;
  background-color: aqua;
  transition: background-color 300ms ease-in-out;

}
.text4 > li > a:hover,
.text4 > li > a.on{
 background-color: blue;
}
 .text5{
  width: 100%;
position: absolute;
overflow: hidden;
top: 60px;
max-height: 0;
transition: max-height 500ms ease-in-out; */

} 
.text5.acc{
  max-height: 270px;
}
.text5 li {
  text-align: center;
  background-color: brown;
  
  padding: 1rem;
}
