*{
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
font-family: 'Tangerine', cursive;

font-family: 'Hi Melody', cursive;
}
header{
  border-bottom: 3px solid forestgreen ;
}
.fox img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.fox{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
.fox ul{
  justify-content:space-between;
  display: flex;
  width: 20%;
  list-style: none;
}
.fox a{
  color:hotpink;
  
  font-size: 22px;
  text-decoration: none;
}
.egg{
  position: sticky;
  z-index: 10; 
  top: 0;
  
}
.egg ul{
  display: flex;
  background-color: aqua;
  height: 50px;
  
}
.egg li:first-child {
 margin-left: 30px ;

}
.egg li{
  padding: 10px 0;
  list-style: none;
}
.egg a{
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
}
.boo{
  background-image: url('../img/분노\ 곰.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.all{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 80px auto 0 auto;
}
.all ul{
 
  display: flex;
  margin-top: 30px;
}
.all ul:first-child{
   margin-top: 0;  
}
.all li{
 
  width: 300px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px gray;
   overflow: hidden; 
}
.all li:last-child{
  margin-right: 0px;
}
.all li a{
  text-decoration: none;
  ransition: opacity 300ms ease-in-out
}
.all li a:hover{
  opacity: .7;

}
.all img{
  width: 300px;
  height: 250px;
   object-fit:fill; 
}
.box{
  color: darkblue;
  font-size: 16px;
  /* 글자 */
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-weight: 700;
}
/* 요기 이후 수정 */

.mac-story-box {
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: 30px;
  padding : 20px 0;
  text-align: center;
  background-color: #fff;
  border-top: 2px solid rgb(255, 213, 23);
}

.mac-story-list {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
}

.mac-story-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  padding: 20px 0;
  background-color: rgb(235, 27, 27);
}

.global-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.global-footer a {
  color: #fff;
}

.mac-link-list {
   /* margin-right: 40px;  */
}


.mac-link-item:first-child a {
  color: rgb(255, 213, 23);
}

/* flex-grow속성 : flex-grow가 적용되지 않았을 경우
   레이아웃 보다 정렬된 아이템들의 width 합이 작으면
   오른쪽에 여백이 남는다. 그 여백을 지정한 비율대로 
   차지하게 할 수 있는 속성
*/
.mac-info-list { 
   flex-grow: 1; 
}
.mac-story-item a{
  font-size: 18px;
  color:gray;
text-decoration: none;
}
.mac-link-item a{
  font-size: 20px;
  text-decoration: none;
  
}
.mac-icon-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  
}
.mac-icon-list li{
  list-style: none;

}
.fa-brands{
  font-size: 20px;
  color: coral;
}
.fa-regular{
  font-size: 20px;
  color: coral;
}
