*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #333;
}
li{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
}
.lg-hidden{
  display: none;
}
.global-heaer{
  position: fixed;
  top: 0;
  z-index: 100;
  background-color:rgba(225, 225, 225, 0.8);
  width: 100%;
  box-shadow:  0 5px 12px rgba(0, 0, 0, 0.3);
  
}
.gub-log{
  display: flex;
  justify-content: end;
  padding: 1rem;
}
.gub-log li a{
  margin-right: 16px;
  font-size: 15px;
}

.gub-log li a:last-child a {
  margin-right: 0;
}
.gub-log li a i{
  font-size: 4px;
}
.gnd-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.gub-main-list{
  display: flex;
}
.gub-main-item{
  position: relative;
}
.gub-main-item a.on,
.gub-main-item a:hover{
  color: hotpink;
}
.gub-main-item a{
display: block;
text-align: center;
padding: 16px;
}
.sub{
  overflow: hidden;
  width: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: #fff;
  max-height: 0;
  /* display: none; */
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);


}
.box1{
  display: none;
  z-index: 800;
  position: absolute;
  content: '';
  bottom:  -10%;
  
  transform: translateY(-50%);
  left: 50%;
  background-color: #113676;
  width: 5px;
  height: 5px;
}
.box1.bob{
  display: flex;
}

.sub.active{
  max-height:270px;
}

/* .sub::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #113676;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
} */



/* //////////// */
.slide-wrqpper{
  overflow: hidden;
  position: relative;
}
.slide-list{
  display: flex;
  width: 300vw;
  height: 600px;
}

.slide-list li{
  width: 100vw;
  height: 100%;
}
.slide-list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-but{
  position: absolute;
  bottom: 0;  
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #ccc ;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.slide-but li{
  color: #fff;
  margin-right: 20px;
  
  
}
.slide-but li:last-child{
  margin-right: 0;
}
.slide-but li:hover,
.slide-but li.acc{
  color: #ffE111;
}
.slide-but li::after{
  content: '';
  display: inline-block;
  width: 3px;
  height: 14px;
  margin-left: 20px;
  background-color: #ccc;

}
.slide-but li:last-child::after{
  display: none;
}
footer {
  margin-top: 60px;
  color: #aaa;
}


.footer-top{
  display: flex;
  justify-content: space-between;
  background-color: #113676;
  padding:  0 40px;
  color: #aaa;

}

.foot-left{
  display: flex;
}
.foot-left li a {
  display: block;
  padding: 20px;
  font-size: 18px;
  border-left: 1px solid gray;
}
.foot-left li:last-child a {
border-right: 1px solid gray ;
}

.foot-left li:nth-child(2) a{
  color: #fff;
  font-weight: 700;
}
.foot-right{
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}
.number{
  font-size: 24px;
  color: #fff;
}
.tiem{
  font-size: 12px;
}

.foot-bottom{
  padding: 50px 40px;
  background-color: #2d2d30;
}
.foot-bottom img {
  opacity: .5;
}

.foot-bottom ul{
  
  display: flex;
  margin-top: 30px;
}
.foot-bottom ul li::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #666;
  transform: rotate(30deg);
  margin: 0 10px ;
}
.foot-bottom ul li:first-child::before{
  content: none;
}
.foot-bottom ul{
  display: flex;
  margin-top:30px ;
}
.boxUp{
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  overflow: hidden;
  position: absolute;
  z-index: 800;
  width: 400px;
  height: 85vh;
  background-color: #fff;
  
}
.boxUp.on{
  display: none;
}
.boxUp img{
  width: 100%;
  height: 60%;
}
.boxUp > h2{
  text-align: center;
  color: blue;
  clear: both;
}
.boxUp > button{
  padding: 10px;
  float: right;
  font-size: 20px;
  border: transparent;
  background-color: transparent;
}
.gobox > p{
  padding: 15px 30px;
  text-align: center;
  margin: 15px auto ;
  width: 80%;
  height: 40%;
  background-color: green;
  color: #fff;
  font-weight: 700;
  
}


.hot{
  display: flex;
margin-left: 10px;
}
.jop{
  border-top:3px solid gray ;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
 
}

.gog p{
  padding-left:8px; 

}
/* 테스트용 */

.popup{
  position: absolute;
  top: 10%;
  background-color: #FFF;
  border: 3px solid darkblue;
  z-index: 200;
  left: 50%;
  width: 480px;
  transform: translateX(-50%);
}
.popup-top{
  padding: 30px;

}
.close-btn{
  text-align: right;
}
.close-btn button{
  font-size: 24px;
  border: none;
  background-color: transparent;
}
.popup h2{
  margin-top: 20px;
  color: darkblue;
}
.popup img{
  margin-top: 20px;
}
.content-btn{
  margin-top: 20px;
  text-align: center;
}
.content-btn button{
  padding: 14px 80px;
  background-color: green;
  color:#FFF ;
  transition: background-color 300ms;
}
.content-btn button:hover{
  cursor: pointer;
  background-color: gold;
}

.pop-ckeck{
  padding: 12px 20px;
  border-top: 1px solid #ccc;
  background-color: #ccc;
}
.pop-ckeck span {
  color: black;
  font-size: 14px;
}

@media screen and (max-width :1200px) {
  .lg-hidden{
    display: block;
  }

  .lg-only {
    display: none;
  }


  .gub-log{
    padding: 20px 30px;
  }

  .gnd-main{
  
    padding: 10px 30px;
  }


  .gnd-open-btn{
    width: 50px;
    height: 50px;
    display: flex;
  }
  /* .gnd-open-btn.all{
    display: flex;
  } */

  
  .gnd-open-btn img{
   width: 100%;
   height: 100%;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 200px;
    height: 100vh;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    transform: translateX(-200px);
    transition: transform 500ms ease-in-out;
  
    

  }
  .sidebar.acct{
    transform: translateX(0);
  }


  .sidebar-btn{
    float: right;
    border: none;
    font-size: 24px;
    background-color: transparent;
  }

 
  .sidebar-list{
    margin-top: 20px;
    clear: right;
  }
  .sidebar-item a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .sidebar-item:first-child a{
    border-top: 1px solid #ccc;
  }


 
}
