*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
.visually-hidden{
  display: none;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.main-menu{
  display: flex;
  justify-content: flex-end;
  
}
.main-menu li a{
  display: block;
background-color: aqua;
padding: 18px 0;
width: 150px;
}
.main-menu li a:hover,
.main-menu li a.on{
  background-color: hotpink;
}

.submenu-wrapper{
  display: none;
  background-color: cornflowerblue;
}

.submenu-list{
  display: flex;
  justify-content: flex-end;
}
.sub{
  width: 150px;
}

.sub li a{
  display: block;
  width: 100%;
  padding: 16px 0;
  color: #fff;
}

.sub li a:hover{
  background-color: firebrick;
}