*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color: aqua;
  
}
a{
  text-decoration: none;
  color: black;
}
.wrappe{
  max-width: 1200px;
  background-color: bisque;
  margin: 0 auto;
  border: 1px solid transparent;
}

.title{
  
  width: 250px;
  background-color: blue;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin:  30px 0 10px 10px;
}



 
.menu_box{
  display: inline-block;
  width: calc((100% - 80px) / 4);
  margin: 20px 10px;
  padding: 10px;
  background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 8px 12px rgb(0, 0, 0,0.1);
}
.img-box{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.img-box img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 200px; */
} 

.menu_title{
  white-space: nowrap;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}
.menu_info{
  display: flex;
  justify-content: space-between;
} 




