* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.global-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: 50px auto;
}

.logo img {
  width: 240px;
}

.lang {
  position: absolute;
  right: 10px;
}

.join-form {
  max-width: 460px;
  margin: 0 auto;
}

section label {
  display: flex;
}

label input[type='checkbox'] {
  /* display: none; */
}

.checkbox-img {
  margin-right: 8px;
}

label p {
  width: calc(100% - 32px);
  font-size: 18px;
  font-weight: 700;
}

.total .checkbox-img {
  width: 24px;
  height: 24px;
  background-image: url('./pc_check_off_24.png');
}

.total .checkbox-img.checked {
  background-image: url('./pc_check_on_l_24.png');
}

.agree {
  margin-top: 40px;
}

.agree .checkbox-img {
  width: 20px;
  height: 20px;
  background-image: url('./pc_chcek_off_s_20.png');
}

.agree .checkbox-img.checked {
  background-image: url('./pc_check_on_l_24.png');
}

.agree label p {
  display: flex;
  align-items: center;
}

.agree label span {
  font-size: 14px;
  font-weight: 400;
  font-weight: 400;
              /* 동일 ↕  ↕  ↕ */
            /* font-weight: normal; */
  margin-left: 8px;
}

.text-primary {
  color: #08a600;
}

.text-secondary {
  color : #8e8e8e;
}

.terms {
  height: 130px;
  overflow-y: scroll;
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #666;
  background-color: #fff;
}

.req-alert{
  padding: 20px 0;
  visibility: hidden;
  font-size: 14px;
  color: red;
}

.btn{
  width: calc((100% - 8px) /2);
  height: 55px;
  border: none;
  background-color: #08a600;
  font-weight: 700;
  border-radius: 5px;
}

.group-join{
  margin-top: 12px;
}

.group-join a{
  transition: color 300ms ease-in-out ;
}

.group-join a:hover{
  color: #08a600
}