*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wapper{
  /* border: 3px solid firebrick; */
  max-width: 468px;
  margin: 0 auto;
  
}
.img1{
  border: 2px solid gold;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.img1 img{
  width: 70%;
  height: 50%;
}
.name1{

  position: relative;
}
.name0{
  border: 3px solid fuchsia;

}
.text{
  width: 100%;
  height: 80px;
  padding-right: 200px ;
  font-size: 24px;
  cursor: pointer;
}
.name1 .mom{
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 70%;

}

.name4 input{
  width: 100%;
  height: 80px;
  font-size: 24px;
  cursor: pointer;
  padding-right: 200px ;
}

.name3{
  border: 3px solid forestgreen;
  position: relative;
}
 /* 장금 장치 ▼ ▼ ▼ */
.name4 > .img-t{
 /* display: none; */
  position: absolute;
  top: 40%;
  right: 0;
}
.img-t1,
.img-t2{
  /* display: none; */
  position: absolute;
   top: 40%;
  right: 0;
}
/* 사용불가 버튼 ▼ ▼ ▼ */
.img-t1.box1{
  display: flex;
  align-items: center;
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.img-t2.box1{
  display: flex;
  align-items: center;
  color:#03C75A;
  font-size: 20px;
  font-weight: 700;
}
 /* 테스트 문자열 장치 ▼ ▼ ▼ */
 
 .on{
   display: none;
   
 }
 
 .p2{
   color: #03C75A;
 }
 .p0.btn,
 .p1.btn,
 .p3.btn{
  display: block;
 }
 /* 글자 넣기 JS*/
 .p1{
 display: block;
 color: red;
 }

input[type='text']:focus {
  border: 3px solid #03C75A;
  outline: none;
}
.name5{
  position: relative;
}


/* 성별 버튼 */
.name8 p{

}

.name8{
  width: 100%;
  height: 100%;
  
}
.hom1{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.name8 input{
  background-color: #fff;
  width: 30%;
  height: 50px;
  border: 2px solid #03C75A;
  text-align: center;
  font-size: 24px;
  font-weight:700;
  color: #000;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.name8 input.oil-1:hover{
 background-color: #03C75A;
 border: 2px solid #000;
 color: #fff;
}
.name8 input.oil-2:hover{
  background-color: #03C75A;
 border: 2px solid #000;
 color: #fff;
}
.name8 input.oil-3:hover{
  background-color: #03C75A;
 border: 2px solid #000;
 color: #fff;
}

/* 생년월일 */
.name7 {
  /* border: 3px solid firebrick; */
  justify-content: space-between;
  display: flex;
}
.name7 select,
.name7 input{
  width: 30%;
  height: 50px;
}
